// @import "../../assets/style/colors.scss";

// .Register {
//   height: 100vh;

//   .Register-form {
//     width: 400px;
//     height: 400px;
//     margin-top: 20px;
//   }

//   .error {
//     width: 85%;
//     align-self: center;
//     color: $primary-color;
//   }
// }

// @media only screen and (min-width: 280px) and (max-width: 400px) {
//   .Register {
//     .Register-form {
//       width: 800px;
//     }
//   }
// }

// @media only screen and (min-width: 400px) and (max-width: 600px) {
//   .Register {
//     .Register-form {
//       width: 350px;
//     }
//   }
// }
