//darks mode
$primary-color: #cd122d;
$primary-bg-color: #0a0927;
$secondary-bg-color: #191b21;
$primary-text-color: #f6f7f9;
$secondary-text-color: #ebecf0;
$active-link-color: rgba(88, 175, 223, 0.1);
$hover-link-color: rgba(246, 247, 249, 0.05);
