@import "../../../assets/style/colors.scss";


.Cart-btn {
    background-color: $primary-color;
    color: white;
    margin-top: -20px;
}

.Cart_message {
    height: 100vh;
}

.Login-highlight {
    color: $primary-color;
    text-decoration: none;
    margin-inline: 5px;
}
