@import "../../assets/style/colors.scss";

.Next-match-card {
  width: 60%;
  margin: 0 auto;
  .team1 img,
  .team2 img {
    width: 100px;
    height: 100px;
  }

  .RealMadrid img {
    width: 80px;
    height: 100px;
    user-select: none;
  }
}

@media only screen and (min-width: 280px) and (max-width: 400px) {
  .Next-match-card {
    width: 95%;
    .team1 img,
    .team2 img {
      width: 60px;
      height: 60px;
    }
  
    .RealMadrid img {
      width: 50px;
      height: 60px;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .Next-match-card {
    width: 85%;
    .team1 img,
    .team2 img {
      width: 60px;
      height: 60px;
    }
  
    .RealMadrid img {
      width: 50px;
      height: 60px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .Next-match-card {
    width: 70%;
    .team1 img,
    .team2 img {
      width: 70px;
      height: 70px;
    }
  
    .RealMadrid img {
      width: 60px;
      height: 70px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .Next-match-card {
    width: 60%;
    .team1 img,
    .team2 img {
      width: 85px;
      height: 85px;
    }
  
    .RealMadrid img {
      width: 80px;
      height: 80px;
    }
  }
}
